@import "water.css";
@import "/src/fonts/inter/inter.css";


@font-face {
font-family: "San Francisco";
font-weight: 400;
src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}



html {
    height: 100%;
    width: 100%;
    font-family: 'San Francisco', Helvetica, Arial, san-serif !important;

}

body {
    height: 100%;
    width: 100%;
    text-shadow: 1px 1px #000000;
    font-family: var(--font-family);
}

h1 {
  font-weight: bold;
}

p {
  font-weight: normal;
}

/* Nav bar */
.sidenav {
height: 100%;
width: 0;
position: fixed;
z-index: 1;
top: 0;
left: 0;
background-color: #111;
overflow-x: hidden;
transition: 0.5s;
padding-top: 60px;
}

.sidenav a {
padding: 15px 8px 8px 64px;
text-decoration: none;
font-size: 25px;
color: #818181;
display: block;
transition: 0.3s;
}

.sidenav a:hover {
color: #f1f1f1;
}

.sidenav .closebtn {
position: absolute;
top: 0;
right: 25px;
font-size: 36px;
margin-left: 50px;
}

#main {
transition: margin-left .5s;
padding: 16px;
width: 100%;
height: 100%;
font-family: var(--font-family);
}

@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
}

/* Card */

.card {
  background-color: rgb(38, 54, 71);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 10px;
  font-family: var(--font-family);
  font-weight: normal;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card img {
  border-radius: 10px;
}

.card .container {
  padding: 2px 16px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 10px;
  padding: 10px;
  font-family: var(--font-family);
}

.grid-container > div {
  text-align: center;
  padding: 20px 0;
}

/* progress bars */

/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */

.container {
  width: 100%; /* Full width */
}

.container div i {
  margin-right: 3%;
  color: white;
}

.skills {
  text-align: right; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: white; /* White text color */
  border-radius: 15px;
}
.python {width: 75%; background-color: rgb(0, 174, 255);} 
.rust {width: 37%; background-color: rgb(184, 124, 12);}
.java {width: 55%; background-color: red;}
.cpp {width: 20%; background-color: gray;}
.js {width: 50%; background-color: rgb(231, 65, 107);} 
.css {width: 30%; background-color: rgb(21, 180, 21);} 
.html {width: 35%; background-color: rgb(42, 132, 235);}
