{% extends "base.html" %}
{% block content %}
<h1 style="font-size: 80px;">About 🎉</h1>
<span class="vov fade-in slower">
    <div class="grid-container" style="font-family: FontAwesome;font-weight: bold;">
        
        <div class="card">
            <h2 style="font-size: xx-large; text-shadow: 2 2px #000000;">Interests</h2>
            <div class="grid-container" style="grid-template-columns: auto auto auto;">
                <div class="card">Machine learning 🧠</div>
                <div class="card">Game Development 🎮</div>
                <div class="card">web development 🌐</div>
            </div>       
        </div>

        

        <div class="card">
            <h2 style="font-size: xx-large; text-shadow: 2 2px #000000;">Languages</h2>
            <div class="grid-container" style="grid-template-columns: auto;">

                <div class="card">
                    Python
                    <div class="container">
                        <div class="skills python"><i class="fab fa-python"></i></div>
                      </div>
                </div>

                <div class="card">
                    Rust 
                    <div class="container">
                        <div class="skills rust"><i class="fab fa-rust"></i></div>
                    </div>
                </div>

                <div class="card">
                    Java 
                    <div class="container">
                        <div class="skills java"><i class="fab fa-java"></i></div>
                    </div>
                    
                </div>

                <div class="card">
                    C++ 
                    <div class="container">
                        <div class="skills cpp" style="padding-right: 2%;">C++</div>
                    </div> 
                </div>

                <div class="card">
                    JavaScript
                    <div class="container">
                        <div class="skills js"><i class="fab fa-js-square"></i></div>
                    </div>
                </div>

                <div class="card">
                    CSS 
                    <div class="container">
                        <div class="skills css"><i class="fab fa-css3-alt"></i></div>
                    </div>
                </div>

                <div class="card">
                    HTML 
                    <div class="container">
                        <div class="skills html"><i class="fab fa-html5" style="font-weight: bolder;"></i></div>
                    </div>
                </div>

            </div>       
        </div>
        <div class="card">
            <h2 style="font-size: xx-large; text-shadow: 2 2px #000000;">Technology</h2>
            <div class="grid-container" style="grid-template-columns: auto auto auto;">
                <div class="card">Vscode <i class="far fa-file-code" style="color: gray;"></i></div>
                <div class="card">Git <span style="color: rgb(12, 97, 194);">[</span><i class="fab fa-git"  style="color: rgb(12, 97, 194);">]</i></div>
                <div class="card">Github <i class="fab fa-github-square"></i></div>
                <div class="card">Heroku <i class="fas fa-server" style="color: darkorchid;"></i></div>
                <div class="card">Amazon Services (aws) <i class="fas fa-server" style="color: whitesmoke;"></i></div>
                <div class="card">Discord <i class="fab fa-discord" style="color: rgb(12, 97, 194);"></i></div>
            </div>       
        </div>

    </div>

</span>

<footer>*non-exhaustive lists</footer>
{% endblock %}